/*----------------------------------------------------------------- */
/* object/component/_card.scss
/*----------------------------------------------------------------- */
@use "../../foundation/foundation";

.c-service-card{
    background-size: cover; //background-imageは「_service-type.scss」で指定
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 165vw;

    @include foundation.breakpoint(tablet){
        min-height: 80vw;
    }

    @include foundation.breakpoint(pc){
        min-height: 62vw;
    }

    &__heading-wrapper{
        padding-top: 4.9%;
        padding-left: 4.5%;

        @include foundation.breakpoint(tablet) {
            padding-top: 5.0%;
            padding-left: 3.1%;
        }

        @include foundation.breakpoint(pc) {
            padding-top: 5.0%;
            padding-left: 1.6%;
        }
    }

    &__heading{
        color: foundation.$color-text-white;
        font-size: foundation.font-size-rem(41);
        font-weight: foundation.$font-weight-bold;
        padding-bottom: 18.8px;

        @include foundation.breakpoint(tablet) {
            font-size: foundation.font-size-rem(44);
            padding-bottom: 25.6px;
        }

        @include foundation.breakpoint(pc) {
            font-size: foundation.font-size-rem(80);
            padding-bottom: 46px;
        }
    }

    &__heading-underline{
        background-color: foundation.$color-background-underline;
        width: 33.9px;
        height: 4px;
        margin-left: 0.5px;

        @include foundation.breakpoint(tablet) {
            width: 35.9px;
            margin-left: 4.1px;
        }

        @include foundation.breakpoint(pc) {
            width: 63px;
            margin-left: 7.5px;
        }
    }

    &__text-wrapper{
        padding: 16px;
    }

    &__text-container{
        background-color: foundation.$color-background-white;
        opacity: 0.8;
        min-height: 40vw;
        width: 100%;
        padding: 16px;
        
        @include foundation.breakpoint(tablet){
            min-height: 18vw;
        }

        @include foundation.breakpoint(pc){
            min-height: 8vw;
        }
        
        &:first-child{
            margin-bottom: 16px;
        }
    }

    &__text--large{
        font-size: foundation.font-size-rem(22);
        font-weight: foundation.$font-weight-bold;
        padding-bottom: 8px;

        @include foundation.breakpoint(tablet) {
            font-size: foundation.font-size-rem(24);
            padding-bottom: 16px;
        }

        @include foundation.breakpoint(pc) {
            padding-bottom: 10px;
        }

    }

    &__text{
        line-height: 1.5;

        @include foundation.breakpoint(tablet) {
            font-size: foundation.font-size-rem(14);
        }

        @include foundation.breakpoint(pc) {
            font-size: foundation.font-size-rem(16);
        }
    }
}