/*----------------------------------------------------------------- */
/* object/project/_access.scss
/*----------------------------------------------------------------- */
@use "../../foundation/foundation";

.p-access{
    position: relative;
    width: 100%;
    aspect-ratio: 25 / 46;

    @include foundation.breakpoint(tablet){
        aspect-ratio: 167 / 83;
    }

    @include foundation.breakpoint(pc){
        aspect-ratio: 311 / 130;
    }

    &__mask--dark{
        position: absolute;
        top: 0;
        left: 0;
        background-color: foundation.$color-mask;
        width: 100%;
        height: 100%;
    }

    &__map{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../../images/map.jpg);
        background-size: cover;
        opacity: 0.6;
    }

    &__mask--darker{
        position: absolute;
        top: 0;
        left: 0;
        background-color: foundation.$color-mask;
        opacity: 0.29;
        width: 100%;
        height: 60.0%;

        @include foundation.breakpoint(tablet){
            height: 100%;
        }

        @include foundation.breakpoint(pc){
            width: 61.2%;
        }
    }

    &__top-layer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 13.2% 10.7% 15.2% 10.7%;

        @include foundation.breakpoint(tablet){
            padding: 5.9% 5.0% 4.8% 3.5%;
        }

        @include foundation.breakpoint(pc){
            width: 61.2%;
            padding: 6.1% 7.7% 4.8% 8.6%;
        }
    }

    &__heading-wrapper{
        margin-bottom: 4.7%;

        @include foundation.breakpoint(tablet){
            margin-bottom: 1.8%
        }

        @include foundation.breakpoint(pc){
            margin-bottom: 8.4%
        }
    }

    &__heading{
        color: foundation.$color-text-white;
        font-size: foundation.font-size-rem(30);
        font-weight: foundation.$font-weight-bold;
        margin-bottom: 20.5px;

        @include  foundation.breakpoint(pc){
            margin-bottom: 57px;
        }
    }

    &__heading-underline{
        background-color: foundation.$color-background-underline;
        width: 75px;
        height: 2px;
    }

    &__text{
        color: foundation.$color-text-white;
        font-size: foundation.font-size-rem(14);
        font-weight: foundation.$font-weight-bold;
        line-height: 2.4;

        @include  foundation.breakpoint(pc){
            font-size: foundation.font-size-rem(16);
            line-height: 2.1;
        }
    }
}
