/*----------------------------------------------------------------- */
/* object/project/_menu.scss
/*----------------------------------------------------------------- */
@use "../../foundation/foundation";

.p-menu{
    color: foundation.$color-text-sub;
    
    &__close-button{
        position: fixed;
        top: 8px;
        right: 8px;
        z-index: foundation.$z-close-button;
        width:39px;
        height: 39px;

        @include foundation.breakpoint(tablet){
            top: 20px;
            right: 20px;
        }

        @include foundation.breakpoint(pc){
            display: none;
        }

        &::before, &::after {
            background-color: foundation.$color-border-sub;
            content: '';
            position: absolute;
            top: 50%;
            right: 50%;
            width: 45.3px;
            height: 6px;
            transform-origin: center;
        }

        &::before {
            transform: translate(50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(50%, -50%) rotate(-45deg);
        }
    }

    &__heading{
        //↓↓↓ スマホでは見出しは非表示にするが意味的にはあった方がよいため、消さずに残すための設定
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        border: 0;
        clip-path: inset(50%);
        //↑↑↑ 非表示の設定

        @include foundation.breakpoint(pc){
            position: static;
            width: auto;
            height: auto;
            overflow: visible;
            clip-path: none;
            font-size: foundation.font-size-rem(34);
            margin-top: 87px;
            margin-left: 12.5%;            
        }
    }

    &__nav{
        margin-top: 184px;
        margin-left: 14.0%;
        margin-right: 14.0%;

        @include foundation.breakpoint(pc) {
            margin-top: 99px;
            margin-left: 12.5%;
            margin-right: 12.5%;
        }
    }

    &__link--level1{
        font-size: foundation.font-size-rem(24);
        font-weight: foundation.$font-weight-bold;
    }

    &__item--level2{
        margin-left: 20px;
        margin-bottom: 30px;

        &:first-child{
            margin-top: 51px;

            @include foundation.breakpoint(tablet) {
                margin-top: 43px;
            }
        }

        &:last-child{
            margin-bottom: 71px;

            @include foundation.breakpoint(tablet) {
                margin-bottom: 59px;
            }
        }
    }

    &__link--level2{
        font-size: foundation.font-size-rem(20);
        font-weight: foundation.$font-weight-regular;
    }
}